/* asterrisk selector to override default styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #3a3a3a;
}

/* header */

header {
    background-color: red;
}

/* main content */

main {
    background-color: rgb(0, 255, 55);
    /* make main window take up available space to push footer down */
    flex: 1 0 auto;
}

/* footer */

footer {
    background-color: rgb(77, 42, 194);
}